/* SMOOTH SCROLLING! */
html {
  scroll-behavior: smooth;
}

/* ===== Scrollbar CSS ===== */
  /* Firefox */
  * {
    scrollbar-width: auto;
    scrollbar-color: #0f1955 #dadada;
  }

  /* Chrome, Edge, and Safari */
  *::-webkit-scrollbar {
    width: 10px;
  }

  *::-webkit-scrollbar-track {
    background: #ebebeb;
  }

  *::-webkit-scrollbar-thumb {
    background-color: #0f1955;
    border-radius: 10px;
    border: 3px none #ffffff;
  }
