---
import "../styles/global.css";
import "../styles/scrollbar.css";
import "../styles/gombok.css";

import OldalMinta from "../layouts/sima-oldal.astro"
---

<OldalMinta oldal_cim="Hiba" oldal_leiras="404. Az oldal nem található.">
    <div class="full flex flex-col justify-center items-center">
        <h1 class="text-4xl font-bold text-center mt-10">Hiba kód: 404</h1>
        <p class="text-gray-800 text-lg my-2">Az oldal nem található</p>
        <a href="index.html" class="masodlagos mt-5">Vissza a kezdőlapra</a>
    </div>
</OldalMinta>