---
import "../styles/global.css";
import "../styles/scrollbar.css";
import "../styles/gombok.css";

import OldalMinta from "../layouts/sima-oldal.astro"
---

<OldalMinta oldal_cim="Naptár" oldal_link={Astro.url.href} oldal_leiras="Csapatunk naptárában megtakálhatóak minden korosztály elkövetkező eseményei a szülők számára, illetve vezetőknek a megbeszélések, fontos alkalmak.">
	<div class="px-10 lg:px-20 flex flex-col items-center justify-center w-full"><!-- Az oldal alap paddingja -->
		<!-- <h2 class="mb-5 text-4xl font-bold">Csapatnaptár</h2> -->
		<p class="lg:w-1/2 lg:px-10 w-90 mb-6 text-justify md:text-center md:text-justify text-lg">Az alábbi naptárban megtalálhatóak csapatunk programjait és azok időpontját. 
			A programok részletei (pl.: helyszín, hoznivaló, stb.) elsősorban a programról küldött emailben,     
			de akár honlapunkon is megtralálhatóak a hírek/események oldalon.
		</p>
		<iframe src="https://calendar.google.com/calendar/embed?src=c_967200cff89c69af0cf75d691cece7cc0e9d4921ee6e3e4d3cc4267d3be1fb05%40group.calendar.google.com&ctz=Europe%2FBudapest" style="border: 0" width="800" height="600" frameborder="0" scrolling="no" class="lg:w-1/2 h-100 w-90 lg:h-150 rounded-3xl lg:rounded-3xl"></iframe>
	</div>
</OldalMinta>