---
import "../styles/global.css";
import "../styles/scrollbar.css";
import "../styles/gombok.css";

import OldalMinta from "../layouts/sima-oldal.astro"
---

<OldalMinta oldal_cim="Naptár" oldal_link={Astro.url.href} oldal_leiras="Csapatunk naptárában megtakálhatóak minden korosztály elkövetkező eseményei a szülők számára, illetve vezetőknek a megbeszélések, fontos alkalmak.">
	<div class="px-10 lg:px-20 flex flex-col items-center justify-center w-full"><!-- Az oldal alap paddingja -->
		<!-- <h2 class="mb-5 text-4xl font-bold">Csapatnaptár</h2> -->
		<p class="lg:w-1/2 lg:px-10 w-90 mb-6 text-justify md:text-center md:text-justify text-lg">Az alábbi naptárban megtalálhatóak csapatunk programjait és azok időpontját. 
			A programok részletei (pl.: helyszín, hoznivaló, stb.) elsősorban a programról küldött emailben,     
			de akár honlapunkon is megtralálhatóak a hírek/események oldalon.
		</p>
		<iframe src="https://calendar.google.com/calendar/embed?height=600&wkst=2&ctz=Europe%2FBudapest&showPrint=0&title=%C3%81rp%C3%A1d-h%C3%A1zi%20Szent%20Margit%20Cserk%C3%A9szcsapat&showCalendars=0&showTz=0&hl=hu&src=Y18xOGI2NWdlNGN0dmprdGtkaDB2M2JwdjQxOEBncm91cC5jYWxlbmRhci5nb29nbGUuY29t&color=%230b8043" style="border-width:0" width="800" height="600" frameborder="0" scrolling="no" class="lg:w-1/2 h-100 w-90 lg:h-150 rounded-3xl lg:rounded-3xl"></iframe>
	</div>
</OldalMinta>
