---
import "../styles/global.css";
import "../styles/scrollbar.css";
import "../styles/gombok.css";

import OldalMinta from "../layouts/sima-oldal.astro"
---


<OldalMinta oldal_cim="Rólunk" oldal_link={Astro.url.href} oldal_leiras="Ismerd meg csapatunk multját és jelenét. Tudj meg többet csapatunk felépítéséről, működéséről.">
	<div class="px-10 lg:px-20 flex flex-col items-center justify-center"><!-- Az oldal alap paddingja -->
		<h2 class="mb-5 text-4xl font-bold">Építés alatt!</h2>
		<p class="text-md text-gray-500 font-semibold text-justify md:text-center">Hamarosan megérkezik a Rólunk oldal, ahol megismerheted csapatunk múltját és jelenét! Köszönjük türelmedet!</p>
	</div>
</OldalMinta>
