---
import "../styles/global.css";
import "../styles/scrollbar.css";
import "../styles/gombok.css";

import Navigacio from "../components/navigacio.astro";
import Lablec from "../components/lablec.astro";

const { title } = Astro.props;
const { oldal_leiras = "" } = Astro.props;
const { oldal_link = "" } = Astro.props;
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/images/logo.ico" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<meta name="generator" content={Astro.generator} />

		<title>1507.cserkesz.hu - {title}</title>

        <meta name="description" content={ oldal_leiras }>
        <link rel="canonical" href={ oldal_link } />

        <!-- Közösségi média megosztás "kártya" design -->
		<meta property="og:image" content="https://1507.cserkesz.hu/images/logo.jpeg">
		<meta property="og:image:width" content="1205">
		<meta property="og:image:height" content="1120">
		<meta property="og:description" content="Az Árpád-házi Szent Margit Cserkészcsapat honlapja">
		<meta property="og:site_name" content="1507.cserkesz.hu">
		<meta property="og:locale" content="hu_HU">

		<!-- Twitteren megosztás "kártya" design -->
		<meta name="twitter:card" content="summary_large_image">
		<meta name="twitter:title" content="1507.cserkesz.hu">
		<meta name="twitter:description" content="Az Árpád-házi Szent Margit Cserkészcsapat honlapja">
		<meta name="twitter:image" content="https://1507.cserkesz.hu/images/logo.jpeg">
	</head>

	<body>
        <!-- Navigáció (komponens) -->
        <Navigacio cim = {title}/>

        <main class="py-4 lg:py-10">
            <!-- Slot helyén jelenik meg a kontent! -->
            <slot />
        </main>

        <!-- Lábléc (komponens) -->
        <Lablec />

        <script src="https://cdn.jsdelivr.net/npm/@tailwindplus/elements@1" type="module"></script>
    </body>
</html>